@font-face {
  font-family: "Helvetica Roman";
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf);
}
@font-face {
  font-family: "Helvetica Black-Condensed";
  src: url(/fonts/HelveticaNeueBlackCondensed.ttf);
}
@font-face {
  font-family: "Helvetica Bold-Condensed";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf);
}
@font-face {
  font-family: "Helvetica Light";
  src: url(/fonts/HelveticaNeueCyr-Light.ttf);
}
/* wrapper 1110px */
html {
  font-family: "Helvetica Roman", "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.divisor-menu {
  margin-bottom: 80px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  background-color: #1A1A1A;
}

header {
  background-image: url(/img/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 336px;
}

.title, .subtitle {
  text-align: center;
  color: #fff;
}

.main-button_green {
  background-color: #34C759;
  border: 0px;
  font-family: "Helvetica Black-Condensed";
  letter-spacing: 0.2rem;
  border-radius: 90px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
}
.header__nav-list {
  display: flex;
}
.header__item-list-link {
  font-family: "Helvetica Bold-Condensed";
  color: #34C759;
  text-decoration: none;
}
.header__item-list:not(:last-child) {
  margin-right: 45px;
}
.header__tagline {
  font-family: "Helvetica Light";
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  line-height: 5.25rem;
  margin-bottom: 0px;
}
.header__tagline-bold {
  font-family: "Helvetica Bold-Condensed";
}
.header__subtitle {
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}
.header__order {
  font-family: "Helvetica Bold-Condensed";
  letter-spacing: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.header__bottom-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.header__data-about-company {
  padding-bottom: 100px;
}
.header__order {
  padding: 25px 57px;
  font-size: 1.1rem;
}

.about-company {
  text-align: center;
  color: #fff;
}
.about-company__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.about-company__data-about-company {
  padding-bottom: 100px;
}
.about-company__value-point {
  margin-bottom: 10px;
}
.about-company__image-bout-company {
  margin-bottom: 16px;
}
.about-company__description {
  color: #8E8E8E;
}
.about-company__image-about-company {
  margin-bottom: 16px;
}

/*header sections*/
.title-section {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.75rem;
  letter-spacing: 0.5rem;
  position: relative;
  z-index: 1;
}

.description-section {
  color: #A6A6A6;
  text-align: center;
  line-height: 1.8rem;
}

/* carousel */
.carousel-item {
  display: flex;
  gap: 34px;
  justify-content: center;
}

.button__transparent_dark-grey {
  width: 60px;
  height: 60px;
  border: 1px solid #303030;
  background-color: transparent;
  margin: 10px;
  border-radius: 90px;
}

/* about */
.about {
  margin: 0px auto;
  position: relative;
  background-color: #252525;
  padding: 64px 98px 65px 90px;
  border-radius: 20px;
}
.about__title-section {
  margin-bottom: 61px;
}
.about__title-section::before {
  content: "ABOUT";
  position: absolute;
  font-size: 6.25rem;
  font-family: "Helvetica Black-Condensed";
  letter-spacing: 1rem;
  color: #303030;
  z-index: -1;
  left: 300px;
}
.about__carousel-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.about__description-section {
  margin-bottom: 90px;
}
.about__carousel-item-2, .about__carousel-item-3 {
  display: none;
}

.divisor-title {
  border: 1px solid #34C759;
  width: 60px;
  margin-bottom: 50px;
}

.work__title-section {
  margin-bottom: 50px;
}
.work__title-section::before {
  content: "WORK";
  position: absolute;
  font-size: 6.25rem;
  font-family: "Helvetica Black-Condensed";
  letter-spacing: 1rem;
  color: #303030;
  z-index: -1;
  left: 400px;
}
.work__wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;
}
.work__card {
  background-color: #252525;
  padding: 24px 24px 45px 24px;
  border-radius: 10px;
}
.work__title-card {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
}
.work__divisor-title {
  display: inline-block;
  margin-bottom: 30px;
  width: 56px;
  border: 1px solid #34C759;
}
.work__description-card {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  line-height: 1.5rem;
}

.dishes {
  margin-bottom: 120px;
  color: #fff;
}
.dishes__title-section {
  margin-bottom: 50px;
}
.dishes__title-section::before {
  content: "DISHES";
  left: 357px;
  position: absolute;
  font-size: 6.25rem;
  font-family: "Helvetica Black-Condensed";
  letter-spacing: 1rem;
  color: #303030;
  z-index: -1;
}
.dishes__card-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.dishes__card {
  background-color: #252525;
}
.dishes__main, .dishes__footer {
  padding: 20px;
}
.dishes__main-data {
  margin-bottom: 20px;
}
.dishes__title {
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 3px;
}
.dishes__composition {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.dishes__description {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.1rem;
  margin-bottom: 30px;
}
.dishes__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes__order {
  padding: 20px 42px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.dishes__grade {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dishes__header {
  position: relative;
}
.dishes__share {
  right: 20px;
  top: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 90px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chefs__title-section {
  margin-bottom: 50px;
}
.chefs__title-section::before {
  content: "CHEFS";
  left: 387px;
  position: absolute;
  font-size: 6.25rem;
  font-family: "Helvetica Black-Condensed";
  letter-spacing: 1rem;
  color: #303030;
  z-index: -1;
}
.chefs__card {
  display: flex;
}/*# sourceMappingURL=style.css.map */